
<section class="h-75">
    <div class="container-fluid">
        <div class="container pt-5">
            <div class="card text-center">
                <h5 class="card-header text-success fs-3">User : {{user.name}}</h5>
                <div class="card-body">
                    <h5 class="card-title">Email : {{user.email}}</h5>
                    <h1 class="fs-5 text-danger">User logged Time : {{date}}</h1>
                    <a href="/" class="btn btn-dark mt-5">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</section>